div.mt-5.mb-5
    h3 Chat Websocket!
    form
        div.form-group
            label(for="user") Usuario
            input#user.form-control(type="email" aria-describedby="userComent" placeholder="Example@example.com")
            small#userComent.form-text.text-muted Usuario que se utilizara al enviar mensajes
        div.form-group
            label(for="messageContent") Mensaje:
            textarea#messageContent.form-control(rows="4")
        button.btn.btn-success.mt-3(type="button" onclick='sendMessage()') Enviar 
        hr
        div#history