div.jumbotron
    h1(style="color:blue;") Agregar Productos
    br
    form(action="/products" method="post")
        div.form-group
            label(for="nombre")
                b Nombre
            input#nombre.form-control(type="text" name="nombre")     
        .form-group
            label(for="precio")
                b Precio
            input#precio.form-control(type="text" name="precio")
        .form-group
            label(for="imagen")
                b Imagen
            input#imagen.form-control(type="text" name="imagen")
        button.btn.btn-success.mt-3.mb-5(type="button" onclick='sendProduct()') Agregar
div
    form(action="/products" method="GET") 
        button.btn.btn-success.w-100 Ver Lista de Productos