div.mt-5
    h2(style="color:crimson;" class="text-center") Lista de Productos
    br
    div#tableContainer.table-responsive
div
    form(action="/" method="GET") 
        button(class="btn btn-success w-100") Volver al Formulario