div
    h2(style="color:crimson;" class="text-center") Lista de Productos
    br
    if DB_RANDOMPRODUCTS.length > 0
        div(class="table-responsive")
            table.table.table-dark
                tr(style="color: yellow;") 
                    th Nombre 
                    th Precio
                    th Imagen
                each product in DB_RANDOMPRODUCTS
                    tr
                        td=product.nombre
                        td=product.precio
                        td
                            img(width="30" src=product.foto, alt="")
    else
        h3(class="alert alert-warning text-center") No se encontraron productos
div
    form(action="/" method="GET") 
        button(class="btn btn-success w-100") Volver al Formulario