div.mt-5
    h2(style="color:crimson;" class="text-center") Historial de mensajes
    br
    div.table-responsive
        if mensajes.length > 0
            div(class="table-responsive")
                table.table.table-dark
                    tr(class="text-center" style="color: yellow;") 
                        th Id
                        th Email 
                        th Timestamp
                        th Contenido
                    each mensaje in mensajes
                        tr
                            td(class="text-center col-3")=mensaje.id
                            td(class="text-center col-3")=mensaje.usuario.email
                            td(class="text-center col-3")=mensaje.timestamp
                            td(class="text-center col-3")=mensaje.text
        else
            h3(class="alert alert-warning text-center") No se encontraron mensajes
