form(action="/api/graphql/productos" method="GET" class="mb-2") 
    button.btn.btn-success Ver Lista de Productos
form(action="/api/graphql/carrito/productos" method="GET" class="mb-2") 
    button.btn.btn-success Ver Carrito
form(method="POST" action="/api/graphql/productos" class="p-1 mx-auto border border-dark")
    div.form-group
        h3(style="color:blue;") Agregar Producto
        label(for="nombre")
            b Nombre
        input.form-control(type="text" name="nombre" required)     
        label(for="precio")
            b Precio
        input.form-control(type="number" name="precio" required)
        label(for="descripcion")
            b Descripci贸n
        input.form-control(type="text" name="descripcion" required)
        label(for="stock")
            b Stock
        input.form-control(type="number" name="stock" required)
        label(for="codigo")
            b C贸digo
        input.form-control(type="number" name="codigo" required)
        label(for="imagen")
            b Imagen
        input.form-control(type="text" name="foto" required)
    button.btn.btn-success.mt-3.mb-5(type="submit") Agregar
form(method="POST" action="/api/graphql/productos/actualizar" class="m-1 p-1 border border-dark mx-auto")
    .form-group
        h3(style="color:blue;") Actualizar Producto
        label(for="idProd") 
            b Id del producto
        input.form-control(type="number" name="idProd" aria-describedby="userComent" min="1" required)
        label(for="nombre")
            b Nombre
        input.form-control(type="text" name="nombre")     
        label(for="precio")
            b Precio
        input.form-control(type="number" name="precio")
        label(for="descripcion")
            b Descripci贸n
        input.form-control(type="text" name="descripcion")
        label(for="stock")
            b Stock
        input.form-control(type="number" name="stock")
        label(for="codigo")
            b C贸digo
        input.form-control(type="number" name="codigo")
        label(for="imagen")
            b Imagen
        input.form-control(type="text" name="foto")
        button.btn.btn-success.mt-3(type="submit") Actualizar
form(method="POST" action="/api/graphql/productos/eliminar" class="mx-auto m-1 p-1 border border-dark")
    div.form-group
        h3(style="color:blue;") Eliminar Producto
        label(for="text") 
        b Id del producto
        input.form-control(type="number" name="idProd" aria-describedby="userComent" min="1" required)
        button.btn.btn-success.mt-3(type="submit") Eliminar
form(method="POST" action="/api/graphql/carrito/productos" class="mx-auto m-1 p-1 border border-dark ")
    div.form-group
        h3(style="color:blue;") Agregar Producto Al Carrito
        label(for="idProd") 
        b Id del producto
        input.form-control(type="number" name="idProd" aria-describedby="userComent" min="1" required)
        button.btn.btn-success.mt-3(type="submit") Agregar
form(method="POST" action="/api/graphql/carrito/productos/eliminar" class="m-1 p-1 border border-dark mx-auto")
    div.form-group
        h3(style="color:blue;") Eliminar Producto Del Carrito
        label(for="text") 
        b Id del producto
        input.form-control(type="number" name="idProd" aria-describedby="userComent" min="1" required)
        button.btn.btn-success.mt-3(type="submit") Eliminar
